In [7]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
mydata = np.random.randn(4,3)

In [9]:
mydata

array([[-0.22513212, -0.98412927,  0.15905121],
       [ 1.01402578, -0.18433014,  0.14571262],
       [ 0.67780326,  1.3623387 , -1.19360321],
       [-0.76551728, -0.0169249 , -0.15963148]])

In [10]:
#組成col
df1 = pd.DataFrame(mydata,columns=list("ABC"))
df1

          A         B         C
0 -0.225132 -0.984129  0.159051
1  1.014026 -0.184330  0.145713
2  0.677803  1.362339 -1.193603
3 -0.765517 -0.016925 -0.159631

In [11]:
df2 = pd.DataFrame(np.random.randn(3,3), columns=list("ABC"))
df2

          A         B         C
0 -0.000277  0.486861  0.701466
1 -0.056113  0.307656 -1.540128
2  1.269414 -1.455252 -0.966926

In [13]:
#合併
df3 = pd.concat([df1, df2], axis=0)
df3

          A         B         C
0 -0.225132 -0.984129  0.159051
1  1.014026 -0.184330  0.145713
2  0.677803  1.362339 -1.193603
3 -0.765517 -0.016925 -0.159631
0 -0.000277  0.486861  0.701466
1 -0.056113  0.307656 -1.540128
2  1.269414 -1.455252 -0.966926

In [16]:
df3.index = range(7)
df3

          A         B         C
0 -0.225132 -0.984129  0.159051
1  1.014026 -0.184330  0.145713
2  0.677803  1.362339 -1.193603
3 -0.765517 -0.016925 -0.159631
4 -0.000277  0.486861  0.701466
5 -0.056113  0.307656 -1.540128
6  1.269414 -1.455252 -0.966926

In [18]:
df4 = pd.concat([df1, df2], axis=1)
df4

          A         B         C         A         B         C
0 -0.225132 -0.984129  0.159051 -0.000277  0.486861  0.701466
1  1.014026 -0.184330  0.145713 -0.056113  0.307656 -1.540128
2  0.677803  1.362339 -1.193603  1.269414 -1.455252 -0.966926
3 -0.765517 -0.016925 -0.159631       NaN       NaN       NaN