In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randn(5,3),index=list(range(1,6)),columns=list("ABC"))
df

          A         B         C
1  1.625514 -0.030228 -0.624082
2 -0.512140  1.025319 -0.825581
3  0.889169  0.161269  2.012620
4 -1.208521  0.459529 -0.105735
5 -0.601372  0.482498 -0.291394

In [4]:
df[df.B>0]

          A         B         C
2 -0.512140  1.025319 -0.825581
3  0.889169  0.161269  2.012620
4 -1.208521  0.459529 -0.105735
5 -0.601372  0.482498 -0.291394

In [6]:
df.loc[df.B>0,"C"]=0
df

          A         B         C
1  1.625514 -0.030228 -0.624082
2 -0.512140  1.025319  0.000000
3  0.889169  0.161269  0.000000
4 -1.208521  0.459529  0.000000
5 -0.601372  0.482498  0.000000